### Analisis Exploratorio de AdventureWorks 
Comandos necesarios para probar la conexion al DWH de Adventure Works

Conexion SQL Server a atraves de pyodbc

In [1]:
# Importamos la libreria par SQL Server
import pyodbc
import pandas as pd

In [2]:
#Paramentros de Conexion SQL SERVER con la base de datos: AdventureWorksDW2019
conn_dhwSelect = pyodbc.connect('Driver={SQL Server};'
                      'Server=ASUSRF\SQLSERVER19;'
                      'Database=AdventureWorksDW2019;'
                      'Trusted_Connection=yes;')

In [3]:
#Lectura de datos con Cursor
cursor = conn_dhwSelect.cursor()
cursor.execute('SELECT * FROM DimOrganization')

for i in cursor:
    print(i)

(1, None, '1', 'AdventureWorks Cycle', 100)
(2, 1, '1', 'North America Operations', 100)
(3, 14, '1', 'Northeast Division', 100)
(4, 14, '1', 'Northwest Division', 100)
(5, 14, '1', 'Central Division', 100)
(6, 14, '1', 'Southeast Division', 100)
(7, 14, '1', 'Southwest Division', 100)
(8, 2, '.75', 'Canadian Division', 19)
(9, 1, '1', 'European Operations', 36)
(10, 1, '.75', 'Pacific Operations', 6)
(11, 9, '.50', 'France', 36)
(12, 9, '.25', 'Germany', 36)
(13, 10, '.50', 'Australia', 6)
(14, 2, '1', 'USA Operations', 100)

In [4]:
# Consulta a traves de Dataframe Pandas

sentencia_sql = "SELECT * FROM DimOrganization"

lista_df = pd.read_sql_query(sentencia_sql, conn_dhwSelect)
lista_df

C:\Users\rfigu\AppData\Local\Temp\ipykernel_32744\3802872464.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  lista_df = pd.read_sql_query(sentencia_sql, conn_dhwSelect)

,OrganizationKey,ParentOrganizationKey,PercentageOfOwnership,OrganizationName,CurrencyKey
0,1,NaN,1,AdventureWorks Cycle,100
1,2,1.0,1,North America Operations,100
2,3,14.0,1,Northeast Division,100
3,4,14.0,1,Northwest Division,100
4,5,14.0,1,Central Division,100
5,6,14.0,1,Southeast Division,100
6,7,14.0,1,Southwest Division,100
7,8,2.0,.75,Canadian Division,19
8,9,1.0,1,European Operations,36
9,10,1.0,.75,Pacific Operations,6
10,11,9.0,.50,France,36
11,12,9.0,.25,Germany,36
12,13,10.0,.50,Australia,6
13,14,2.0,1,USA Operations,100

In [5]:
connAW2 = pyodbc.connect('Driver={SQL Server};'
                      'Server=ASUSRF\SQLSERVER19;'
                      'Database=AwfactTempo;'
                      'Trusted_Connection=yes;')

In [ ]:
for index, row in lista_df.iterrows():
     cursor.execute("INSERT INTO AwfactTempo.DimOrganization (OrganizationKey,ParentOrganizationKey,PercentageOfOwnership,OrganizationName,CurrencyKey) values (?,?,?,?,?)",
      row.OrganizationKey,
      row.ParentOrganizationKey,
      row.PercentageOfOwnership,
      row.OrganizationName,
      row.CurrencyKey)
connAW2.commit()
cursor.close()